<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이템 등록</title>
</head>
<body>
<h1>아이템 등록</h1>
<form action="/item/new" method="post">
  <div>
    <label for="name">상품 이름:</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="price">가격:</label>
    <input type="number" id="price" name="price" required>
  </div>
  <button type="submit">아이템 등록</button>
</form>
</body>
</html>
